# Created by https://www.toptal.com/developers/gitignore/api/java,eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=java,eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java,eclipse 

# java 패키지에서 중복커밋된 파일 전체 ignore 
# (로컬/원격에 정상 저장되어있는것 확인, 또 커밋하면 중복이라 일단 ignore로 빼둠)
java/java02/src/반복문/IF문1.java
java/java02/src/반복문/IF문2.java
java/java02/src/반복문/IF문3.java
java/java02/src/반복문/IF문4.java
java/java02/src/반복문/IF문5.java
java/java02/src/반복문/IF문확인문제.java
java/java02/src/반복문/마지막확인문제.java
java/java02/src/반복문/영화예매좌석만들기.java
java/java02/src/복습/기본형심화.java
java/java02/src/복습/기본형심화2.java
java/java02/src/복습/자바연산시주의점.java
java/java02/src/순차문/계산기부품만들기.java
java/java02/src/순차문/부품만들기1.java
java/java02/src/순차문/순차문1.java
java/java02/src/순차문/순차문2.java
java/java03/src/반복문/Fo3.java
java/java03/src/반복문/For1.java
java/java03/src/반복문/For2.java
java/java03/src/반복문/누적연습.java
java/java03/src/반복문/누적연습2.java
java/java03/src/반복문/반복문버튼.java
java/java03/src/반복문/반복문안에서스킵하기.java
java/java03/src/복습/부품조립하기.java
java/java03/src/복습/순차문.java
java/java03/src/복습/조건문.java
java/java03/src/순차문/계산기부품만들기.java
java/java03/src/조건문/설문조사.java
java/java03/src/조건문/설문조사2.java
java/java03/src/조건문/콘솔연습.java
java/java03/src/조건문/콘솔연습2.java
java/java03/src/조건문/콘솔입력1.java
java/java04/src/배열/배열개념.java
java/java04/src/배열/배열기초확인문제.java
java/java04/src/배열/배열다루기.java
java/java04/src/배열/배열연습.java
java/java04/src/복습/제어문정리.java
java/java04/src/제어문문제/로또번호생성기.java
java/java04/src/제어문문제/로또번호생성기2.java
java/java04/src/제어문문제/부품만들기1.java
java/java04/src/제어문문제/숫자맞추기.java
java/java04/src/제어문문제/인기투표.java
java/java04/src/제어문문제/인기투표최종.java
java/java04/src/제어문문제/회원가입페이지만들기.java
java/java05/src/배열기본/많은양만들어보기.java
java/java05/src/배열기본/많은양만들어보기2.java
java/java05/src/배열응용/수능만점자문제.java
java/java05/src/배열응용/여러개배열사용하기1.java
java/java05/src/배열응용/여러개배열사용하기2.java
java/java05/src/배열응용/우리반성적변동.java
java/java05/src/배열응용/입력받아배열에넣기.java
java/java05/src/배열응용/입력받아배열에넣기확인문제.java
java/java05/src/배열응용/입력받아평균.java
java/java05/src/복습/배열기본확인문제.java
java/java05/src/복습/배열만들기.java
java/java06/src/배열심화/깊은복사응용.java
java/java06/src/배열심화/배열깊은복사.java
java/java06/src/배열심화/이차원테이블.java
java/java06/src/배열응용/극장예매시스템1.java
java/java06/src/배열응용/극장예매시스템2.java
java/java06/src/배열응용/랜덤버튼배열.java
java/java06/src/배열응용/랜덤버튼배열2.java
java/java07/src/배열복습/스트링과배열1.java
java/java07/src/배열복습/스트링과배열2.java
java/java07/src/배열복습/스트링과배열3.java
java/java07/src/배열복습/이차원배열프린트.java
java/java07/src/배열복습/이차원배열프린트2.java
java/java07/src/부품만들기/TV.java
java/java07/src/부품만들기/강아지.java
java/java07/src/부품만들기/전화기.java
java/java07/src/부품사용하기/TV사용하기.java
java/java07/src/부품사용하기/강아지사용하기.java
java/java07/src/부품사용하기/전화기사용하기.java
java/java07/src/부품응용하기/로그인화면.java
java/java07/src/부품응용하기/일기장쓰기.java
java/java08/src/메서드연습/계산기.java
java/java08/src/메서드연습/계산기2.java
java/java08/src/메서드연습/계산기3.java
java/java08/src/메서드연습/나의영화앨범.java
java/java08/src/메서드연습/내가게.java
java/java08/src/메서드연습/내가게2.java
java/java08/src/메서드연습/내가게3.java
java/java08/src/메서드연습/입력값반환값체크.java
java/java08/src/생성자맛보기/나만의마라탕집.java
java/java08/src/생성자맛보기/나만의마라탕집2.java
java/java08/src/생성자맛보기/나만의마라탕집3.java
java/java08/src/생성자맛보기/마라탕집리뷰쓰기.java
java/java08/src/클래스복습/Car.java
java/java08/src/클래스복습/도로에서Car사용.java
java/java09/src/상속/맨.java
java/java09/src/상속/사람.java
java/java09/src/상속/수퍼맨.java
java/java09/src/상속/영웅사용.java
java/java09/src/생성자/Bbs.java
java/java09/src/생성자/TV.java
java/java09/src/생성자/TV사용하기.java
java/java09/src/생성자/게시판글쓰기.java
java/java09/src/생성자/수강신청.java
java/java09/src/생성자/은행통장사용하기.java
java/java09/src/생성자/전화기.java
java/java09/src/생성자/전화기사용하기.java
java/java09/src/생성자/컴퓨터.java
java/java09/src/생성자/컴퓨터조립.java
java/java09/src/생성자/통장.java
java/java09/src/생성자/학원.java
java/java09/src/스태틱/counter.java
java/java09/src/스태틱/Day.java
java/java09/src/스태틱/나의일지.java
java/java09/src/스태틱/직원.java
java/java09/src/스태틱/회사창업.java
java/java10/src/복습/Mask.java
java/java10/src/복습/MaskUse.java
java/java10/src/상속기본/Car.java
java/java10/src/상속기본/FlyCar.java
java/java10/src/상속기본/FlyCar사용.java
java/java10/src/상속기본/매니저.java
java/java10/src/상속기본/볼펜.java
java/java10/src/상속기본/볼펜Main.java
java/java10/src/상속기본/직원.java
java/java10/src/상속기본/커피전문점.java
java/java10/src/상속기본/학용품.java
java/java10/src/상속응용/PC상황표.java
java/java10/src/상속응용/감소스레드.java
java/java10/src/상속응용/골뱅이스레드.java
java/java10/src/상속응용/나의스레드.java
java/java10/src/상속응용/달러스레드.java
java/java10/src/상속응용/별스레드.java
java/java10/src/상속응용/별이름스레드사용.java
java/java10/src/상속응용/세가지스레드실행하기.java
java/java10/src/상속응용/앤드스레드.java
java/java10/src/상속응용/이름스레드.java
java/java10/src/상속응용/이미지스레드.java
java/java10/src/상속응용/증가감소스레드사용.java
java/java10/src/상속응용/증가스레드.java
java/java10/src/상속응용/카운트스레드.java
java/java10/src/상속응용/타이머스레드.java
java/java10/src/상속응용test/알람시계스레드.java
java/java10/src/상속응용test/카운트스레드.java
java/java10/src/상속응용test/카운트스레드2.java
java/java10/src/상속응용test/타이머스레드.java
java/java11/src/복습/직원.java
java/java11/src/복습/직원사용.java
java/java11/src/상속/CarGame.java
java/java11/src/상속/MyThread.java
java/java11/src/상속/스레드그래픽.java
java/java11/src/상속/예외처리1.java
java/java11/src/상속/예외처리2.java
java/java11/src/상속/예외처리3.java
java/java11/src/상속/이미지스레드.java
java/java11/src/상속/직원사용.java
java/java11/src/상속/카운트스레드.java
java/java11/src/상속/타이머스레드.java
java/java11/src/상속형변환정리/정리문제.java
java/java11/src/형변환/Queue확인문제.java
java/java11/src/형변환/냉장고우유.java
java/java11/src/형변환/로또문제.java
java/java11/src/형변환/로또문제2.java
java/java11/src/형변환/로또문제3.java
java/java11/src/형변환/사전문제.java
java/java11/src/형변환/스키대회.java
java/java11/src/형변환/컬렉션테스트.java
java/java11/src/형변환/콜렉션확인문제.java
java/java12/src/복습/아무거나.java
java/java12/src/주식정보시스템/네이버메인크롤링.java
java/java12/src/주식정보시스템/네이버쇼핑크롤링.java
java/java12/src/주식정보시스템/네이버주식정보시스템.java
java/java12/src/주식정보시스템/네이버증권크롤링.java
java/java12/src/주식정보시스템/네이버증권크롤링2.java
java/java12/src/주식정보시스템/네이버증권크롤링3.java
java/java12/src/주식정보시스템/다음메인크롤링.java
java/java12/src/형변환/그래픽형변환.java
java/java12/src/형변환/기본형형변환.java
java/java12/src/형변환/참조형다형성.java
java/java12/src/형변환/형변환확인문제.java
java/java13/src/네트워크프로그램/TCPClients.java
java/java13/src/네트워크프로그램/TCPServer.java
java/java13/src/네트워크프로그램/UDPReceiver.java
java/java13/src/네트워크프로그램/UDPSender.java
java/java13/src/네트워크프로그램/메신저A.java
java/java13/src/네트워크프로그램/메신저B.java
java/java13/src/복습/나의그래픽.java
java/java13/src/인터페이스/ActionListener.java
java/java13/src/인터페이스/AppleComputer.java
java/java13/src/인터페이스/BananaComputer.java
java/java13/src/인터페이스/Computer.java
java/java13/src/인터페이스/문자판독기.java
java/java13/src/인터페이스/바나나잭.java
java/java13/src/인터페이스/아이폰잭.java
java/java13/src/인터페이스/아이폰잭사용.java
java/java13/src/인터페이스/애플잭.java
java/java13/src/인터페이스/컴퓨터사용.java
java/java13/src/인터페이스/컴퓨터사용2.java
java/javabasic/src/변수/Hello.java
java/javabasic/src/변수/Hi.java
java/javabasic/src/변수/MyHome.java
java/javabasic/src/변수/MyHome2.java
java/javabasic/src/변수/변수선언.java
java/javabasic/src/변수/변수선언확인문제.java
java/javabasic/src/연산자/논리연산자.java
java/javabasic/src/연산자/비교연산자2.java
java/javabasic/src/연산자/산술연산자.java
java/javabasic/src/제어문/순차문1.java
java/javabasic/src/제어문/순차문2.java
java/javabasic/src/확인문제/문제풀이1.java
java/javabasic/src/확인문제/문제풀이2.java
java/javabasic/src/확인문제/문제풀이3.java
java/javabasic/src/확인문제/문제풀이4.java
